---
import Container from "./Container.astro"
import Logo from "./Logo.astro"
import Nav from "./Nav.astro"
---

<header class="border-b">
  <Container>
    <div class="flex h-12 items-center gap-8 md:h-14 xl:h-16">
      <Logo />
      <Nav />
    </div>
  </Container>
</header>
