---
import { cn } from "@/lib/utils"

const items = [
  {
    label: "English",
    href: "/ilearn/english",
  },
  {
    label: "Math",
    href: "/ilearn/math",
  },
]

const pathname = Astro.url.pathname
---

<nav>
  <ul class="flex items-center gap-6">
    {
      items.map((item) => (
        <li>
          <a
            href={item.href}
            class={cn("text-base", {
              "text-primary font-medium": pathname.startsWith(item.href),
              "text-muted-foreground": !pathname.startsWith(item.href),
            })}
          >
            {item.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
